*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class

# Package Files #
*.ear
/build
/bin
**/build
**/bin

# IDE Files #
*.iml
/.idea
.classpath
/.settings
.project
*/.settings

# Gradle Files #
/.gradle

# JRevel Files #
rebel.xml

# ETC Files #
.DS_Store
*.log